:root {
  /* Typography */
  --vuiii-typeface-body: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --vuiii-typeface-display: var(--vuiii-typeface-body);

  --vuiii-fontSize: 1rem;
  --vuiii-fontSize--small: 0.875rem;
  --vuiii-fontSize--large: 1.125rem;

  /* colors */
  --vuiii-color-white: white;
  --vuiii-color-black: black;
  --vuiii-color-gray: rgb(212 212 216); /* neutral.300 */
  --vuiii-color-gray--light: rgb(229, 229, 229); /* neutral.200 */
  --vuiii-color-gray--lighter: rgb(245, 245, 245); /* neutral.100 */
  --vuiii-color-gray--lightest: rgb(250, 250, 250); /* neutral.50 */
  --vuiii-color-gray--dark: rgb(163, 163, 163); /* neutral.400 */
  --vuiii-color-gray--darker: rgb(115, 115, 115); /* neutral.500 */
  --vuiii-color-gray--darkest: rgb(82, 82, 82); /* neutral.600 */

  --vuiii-color-primary: rgb(79 70 229); /* indigo.600 */
  --vuiii-color-primary-shadow: rgb(67 56 202/0.2); /* indigo.700 */
  --vuiii-color-primary--darker: rgb(67 56 202); /* indigo.700 */

  --vuii-color-secondary: rgb(212 212 216); /* neutral.300 */
  --vuii-color-secondary-shadow: rgb(192 192 192/0.25);
  --vuii-color-secondary--darker: rgb(192 192 192);

  --vuiii-color-danger: rgb(225 29 72); /* rose.600 */
  --vuiii-color-danger-shadow: rgb(225 29 72/0.2); /* rose.600 */
  --vuiii-color-danger--darker: rgb(190 18 60); /* rose.700 */

  --vuiii-color-success: rgb(77 124 15); /* lime.700 */
  --vuiii-color-success-shadow: rgb(77 124 15/0.2); /* lime.700 */
  --vuiii-color-success--darker: rgb(63 98 18); /* lime.800 */

  --vuiii-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);

  /* Field */
  --vuiii-field-height: 2.5rem;
  --vuiii-field-padding: 1.4375rem;
  --vuiii-field-borderRadius: 3px;
  --vuiii-field-borderWidth: 1px;
  --vuiii-field-bgColor: var(--vuiii-color-white);
  --vuiii-field-borderColor: var(--vuiii-color-gray);
  --vuiii-field-fontSize: var(--vuiii-fontSize--small);
  --vuiii-field-ringColor: none;
  --vuiii-field-ringSize: 0;

  --vuiii-field-borderColor--active: var(--vuiii-color-gray--dark);
  --vuiii-field-borderColor--focus: var(--vuiii-color-gray--dark);
  --vuiii-field-borderColor--invalid: var(--vuiii-color-danger);

  --vuiii-field-height--small: 2rem;
  --vuiii-field-padding--small: 1.1875rem;
  --vuiii-field-fontSize--small: 0.8125rem;
  --vuiii-field-borderRadius--small: 2px;

  --vuiii-field-height--large: 3rem;
  --vuiii-field-padding--large: 1.4375rem;
  --vuiii-field-fontSize--large: 1rem;
  --vuiii-field-borderRadius--large: 3px;

  --vuiii-field-height--xlarge: 3.25rem;
  --vuiii-field-padding--xlarge: 1.5625rem;
  --vuiii-field-fontSize--xlarge: 1.125rem;
  --vuiii-field-borderRadius--xlarge: 4px;

  /* Buttons */
  --vuiii-button-bgColor--primary: var(--vuiii-color-primary);
  --vuiii-button-textColor--primary: var(--vuiii-color-white);
  --vuiii-button-borderColor--primary: var(--vuiii-color-primary);
  --vuiii-button-borderWidth--primary: 1px;

  --vuiii-button-bgColor--secondary: transparent;
  --vuiii-button-textColor--secondary: var(--vuiii-color-black);
  --vuiii-button-borderColor--secondary: var(--vuiii-color-black);
  --vuiii-button-borderWidth--secondary: 1px;

  /* Inputs */
  --vuiii-input-textColor: inherit;
  --vuiii-input-borderColor: var(--vuiii-color-gray);
  --vuiii-input-borderColor--focus: var(--vuiii-color-gray--dark);
  --vuiii-input-bgColor: var(--vuiii-color-white);
  --vuiii-input-placeholderColor: var(--vuiii-color-gray--dark);
}


body {
  font: var(--vuiii-fontSize) var(--vuiii-typeface-body);
}