:root {
  /* colors */
  --vuiii-color-gray: rgb(212 212 216); /* neutral.300 */
  --vuiii-color-gray--light: rgb(229, 229, 229); /* neutral.200 */
  --vuiii-color-gray--lighter: rgb(245, 245, 245); /* neutral.100 */
  --vuiii-color-gray--lightest: rgb(250, 250, 250); /* neutral.50 */
  --vuiii-color-gray--dark: rgb(163, 163, 163); /* neutral.400 */
  --vuiii-color-gray--darker: rgb(115, 115, 115); /* neutral.500 */
  --vuiii-color-gray--darkest: rgb(82, 82, 82); /* neutral.600 */

  --vuiii-color-primary: rgb(79 70 229); /* indigo.600 */
  --vuiii-color-primary-shadow: rgb(67 56 202/0.2); /* indigo.700 */
  --vuiii-color-primary--darker: rgb(67 56 202); /* indigo.700 */

  --vuiii-color-danger: rgb(225 29 72); /* rose.600 */
  --vuiii-color-danger-shadow: rgb(225 29 72/0.2); /* rose.600 */
  --vuiii-color-danger--darker: rgb(190 18 60); /* rose.700 */

  --vuiii-color-success: rgb(77 124 15); /* lime.700 */
  --vuiii-color-success-shadow: rgb(77 124 15/0.2); /* lime.700 */
  --vuiii-color-success--darker: rgb(63 98 18); /* lime.800 */

  --vuiii-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);

  /* field */
  --vuiii-field-height: 3rem;
  --vuiii-field-padding: 2rem;
  --vuiii-field-ringSize: 4px;
  --vuiii-field-borderRadius: 0.375rem;
  --vuiii-field-fontSize: 0.96rem;
  --vuiii-field-borderColor: var(--vuiii-color-gray);
  --vuiii-field-borderColor--active: var(--vuiii-color-primary);
  --vuiii-field-borderColor--focus: var(--vuiii-color-primary);
  --vuiii-field-borderColor--invalid: var(--vuiii-color-danger);
  --vuiii-field-ringColor: var(--vuiii-color-primary-shadow);
  --vuiii-field-transition: box-shadow .15s, transform .15s, box-shadow .15s, border-color .15s, background-color .15s;
  --vuiii-field-fontSize--small: 0.85rem;
  --vuiii-field-height--small: 2.25rem;
  --vuiii-field-ringSize--small: 2px;

  /* typography */
  --vuiii-fontSize-base: 1rem;
  --vuiii-fontSize-small: 0.85rem;
}
