:root {
  /* ---------- */
  /* Typography */
  /* ---------- */

  --vuiii-typeface-body: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --vuiii-typeface-display: var(--vuiii-typeface-body);

  --vuiii-fontSize: 1rem;
  --vuiii-fontSize--tiny: calc(var(--vuiii-fontSize) * 0.75);
  --vuiii-fontSize--small: calc(var(--vuiii-fontSize) * 0.875);
  --vuiii-fontSize--large: calc(var(--vuiii-fontSize) * 1.25);

  /* ------ */
  /* Colors */
  /* ------ */

  --vuiii-color-white: white;
  --vuiii-color-black: black;

  --vuiii-color-light: var(--vuiii-color-white);
  --vuiii-color-dark: var(--vuiii-color-black);

  --vuiii-color-gray: rgb(212 212 216); /* neutral.300 */
  --vuiii-color-gray--light: rgb(229 229 229); /* neutral.200 */
  --vuiii-color-gray--lighter: rgb(245 245 245); /* neutral.100 */
  --vuiii-color-gray--lightest: rgb(250 250 250); /* neutral.50 */
  --vuiii-color-gray--dark: rgb(163 163 163); /* neutral.400 */
  --vuiii-color-gray--darker: rgb(115 115 115); /* neutral.500 */
  --vuiii-color-gray--darkest: rgb(82 82 82); /* neutral.600 */

  --vuiii-color-primary: rgb(79 70 229); /* indigo.600 */
  --vuiii-color-primary--darker: color-mix(in srgb, var(--vuiii-color-primary) 95%, black);
  --vuiii-color-primary--darkest: color-mix(in srgb, var(--vuiii-color-primary) 85%, black);

  /* --vuiii-color-secondary: rgb(212 212 216); neutral.300 */
  /* --vuiii-color-secondary-shadow: rgb(192 192 192/0.15); */
  /* --vuiii-color-secondary--darker: rgb(192 192 192); */

  --vuiii-color-danger: rgb(225 29 72); /* rose.600 */
  --vuiii-color-danger--darker: color-mix(in srgb, var(--vuiii-color-danger) 95%, black);

  --vuiii-color-success: rgb(77 124 15); /* lime.700 */
  --vuiii-color-success--darker: color-mix(in srgb, var(--vuiii-color-success) 95%, black);

  --vuiii-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);

  /* ------ */
  /* Fields */
  /* ------ */

  --vuiii-field-height: 2.5em;
  --vuiii-field-padding: 1.35em;
  --vuiii-field-borderRadius: 0.25em;
  --vuiii-field-borderWidth: 1px;
  --vuiii-field-bgColor: var(--vuiii-color-white);
  --vuiii-field-borderColor: var(--vuiii-color-gray);
  --vuiii-field-ringColor: color-mix(in srgb, var(--vuiii-color-gray--dark) 10%, transparent);
  --vuiii-field-ringSize: 0.25em;

  --vuiii-field-fontSize: var(--vuiii-fontSize);
  --vuiii-field-fontSize--small: var(--vuiii-fontSize--small);
  --vuiii-field-fontSize--large: var(--vuiii-fontSize--large);

  --vuiii-field-borderColor--active: var(--vuiii-color-gray--dark);
  --vuiii-field-borderColor--focus: var(--vuiii-color-gray--dark);
  --vuiii-field-borderColor--invalid: var(--vuiii-color-danger);

  --vuiii-field-transition: all 0.05s ease-in-out;

  /* ------ */
  /* Labels */
  /* ------ */
  --vuiii-label-fontSize: var(--vuiii-fontSize--small);
  --vuiii-label-fontWeight: 600;
  --vuiii-label-textTransform: none;

  /* ––––––– */
  /* Buttons */
  /* ––––––– */

  --vuiii-button-ringSize: var(--vuiii-field-ringSize);
  --vuiii-button-ringSize-small: var(--vuiii-field-ringSize--small);
  --vuiii-button-ringSize-large: var(--vuiii-field-ringSize--large);

  /* Default button */

  --vuiii-button-bgColor: transparent;
  --vuiii-button-borderColor: var(--vuiii-button-bgColor);
  --vuiii-button-borderColor--focus: var(--vuiii-button-borderColor);
  --vuiii-button-textColor: var(--vuiii-color-primary);
  --vuiii-button-ringColor: color-mix(in srgb, var(--vuiii-color-primary) 10%, transparent);

  --vuiii-button-bgColor--hover: transparent;
  --vuiii-button-borderColor--hover: var(--vuiii-button-bgColor--hover);
  --vuiii-button-textColor--hover: var(--vuiii-color-primary--darker);

  --vuiii-button-textColor--focus: var(--vuiii-color-primary--darker);

  /* Primary button variant */

  --vuiii-button-bgColor--primary: var(--vuiii-color-primary);
  --vuiii-button-borderColor--primary: var(--vuiii-button-bgColor--primary);
  --vuiii-button-textColor--primary: white;
  --vuiii-button-ringColor--primary: color-mix(in srgb, var(--vuiii-color-primary) 10%, transparent);

  --vuiii-button-bgColor--primary--hover: var(--vuiii-color-primary--darker);

  --vuiii-button-textColor--primary--outlined--hover: var(--vuiii-color-primary--darkest);

  /* Secondary button variant */

  --vuiii-button-bgColor--secondary: var(--vuiii-color-gray--light);
  --vuiii-button-borderColor--secondary: var(--vuiii-button-bgColor--secondary);
  --vuiii-button-textColor--secondary: var(--vuiii-color-gray--darkest);
  --vuiii-button-ringColor--secondary: color-mix(in srgb, var(--vuiii-color-gray--darker) 10%, transparent);

  --vuiii-button-bgColor--secondary--hover: var(--vuiii-color-gray);
  --vuiii-button-textColor--secondary--hover: var(--vuiii-color-black);

  --vuiii-button-bgColor--secondary--outlined: var(--vuiii-color-gray--darker);
  --vuiii-button-textColor--secondary--outlined: var(--vuiii-color-gray--darker);

  --vuiii-button-textColor--secondary--outlined--hover: var(--vuiii-color-gray--darkest);

  /* Danger button variant */

  --vuiii-button-bgColor--danger: var(--vuiii-color-danger);
  --vuiii-button-textColor--danger: white;
  --vuiii-button-borderColor--danger: var(--vuiii-color-danger);
  --vuiii-button-ringColor--danger: color-mix(in srgb, var(--vuiii-color-danger) 10%, transparent);

  --vuiii-button-bgColor--danger--hover: var(--vuiii-color-danger--darker);

  /* Success button variant */

  --vuiii-button-bgColor--success: var(--vuiii-color-success);
  --vuiii-button-textColor--success: white;
  --vuiii-button-borderColor--success: var(--vuiii-color-success);
  --vuiii-button-ringColor--success: color-mix(in srgb, var(--vuiii-color-success) 10%, transparent);

  --vuiii-button-bgColor--success--hover: var(--vuiii-color-success--darker);

  /* ------ */
  /* Inputs */
  /* ------ */

  --vuiii-input-textColor: inherit;
  --vuiii-input-borderColor: var(--vuiii-field-borderColor);
  --vuiii-input-borderColor--focus: color-mix(in srgb, var(--vuiii-input-borderColor) 80%, black);
  --vuiii-input-bgColor: var(--vuiii-color-white);
  --vuiii-input-placeholderColor: color-mix(in srgb, currentColor 50%, transparent);
  --vuiii-input-ringColor: var(--vuiii-field-ringColor);
  --vuiii-input-borderRadius: var(--vuiii-field-borderRadius);
  --vuiii-input-borderWidth: var(--vuiii-field-borderWidth);
  --vuiii-input-height: var(--vuiii-field-height);
  --vuiii-input-padding: var(--vuiii-field-padding);
  --vuiii-input-fontSize: var(--vuiii-field-fontSize);
  --vuiii-input-transition: var(--vuiii-field-transition);
  --vuiii-input-iconColor: color-mix(in srgb, currentColor 50%, transparent);

  /* ------ */
  /* Checkboxes and radios */
  /* ------ */
  --vuiii-checkbox-bgColor--checked: var(--vuiii-color-primary);
  --vuiii-checkbox-borderColor--checked: var(--vuiii-checkbox-bgColor--checked);
  --vuiii-checkbox-iconColor--checked: var(--vuiii-color-white);

  /* ----- */
  /* Icons */
  /* ----- */

  --vuiii-icon-size: 1.3rem;
  --vuiii-icon-size--small: 1.1rem;
  --vuiii-icon-size--large: 1.75rem;

  /* ----- */
  /* Table */
  /* ----- */
  --vuiii-table-fontSize: var(--vuiii-fontSize);
  --vuiii-table-separatorColor: var(--vuiii-color-gray--light);
  --vuiii-table-separatorWidth: 1px;

  --vuiii-table-headBgColor: transparent;
  --vuiii-table-headTextColor: var(--vuiii-color-gray--dark);
  --vuiii-table-headSeparatorColor: var(--vuiii-table-separatorColor);
  --vuiii-table-headSeparatorWidth: var(--vuiii-table-separatorWidth);
  --vuiii-table-headFontSize: var(--vuiii-label-fontSize);
  --vuiii-table-headFontWeight: var(--vuiii-label-fontWeight);
  --vuiii-table-headTextTransform: var(--vuiii-label-textTransform);

  --vuiii-table-rowBgColor: transparent;
  --vuiii-table-rowBgColor--hover: color-mix(in srgb, var(--vuiii-color-dark) 4%, transparent);
  --vuiii-table-rowSeparatorColor: var(--vuiii-table-separatorColor);
  --vuiii-table-rowSeparatorWidth: var(--vuiii-table-separatorWidth);

  /* ------- */
  /* Z-index */
  /* ------- */

  --vuiii-zIndex-modal: 1000;
  --vuiii-zIndex-dropdown: 1010;
  --vuiii-zIndex-tooltip: 1020;
  --vuiii-zIndex-snackbar: 1030;
  --vuiii-zIndex-header: 10;
}

body {
  font: var(--vuiii-fontSize) var(--vuiii-typeface-body);
}
