@import "./common.css";

.vuiii-input {
  --textColor: var(--vuiii-input-textColor);
  --bgColor: var(--vuiii-input-bgColor);
  --borderColor: var(--vuiii-input-borderColor);
  --shadow: var(--vuiii-input-shadow);
  --ringColor: var(--vuiii-input-ringColor);
  --iconColor: var(--vuiii-input-iconColor);

  --height: var(--vuiii-input-height);
  --padding: var(--vuiii-input-padding);
  --fontSize: var(--vuiii-input-fontSize);
  --borderRadius: var(--vuiii-input-borderRadius);
  --iconSize: var(--vuiii-icon-size);
  --ringSize: 0;

  width: 100%;
  color: var(--textColor);
  background-color: var(--bgColor);
  border: var(--vuiii-input-borderWidth) solid var(--borderColor);
  border-radius: var(--borderRadius);
  padding-left: var(--padding);
  padding-right: var(--padding);
  min-height: var(--height);
  box-sizing: border-box;
  font-family: inherit;
  font-size: var(--fontSize);
  transition: var(--vuiii-input-transition);
  box-shadow:
    0 0 0 var(--ringSize) var(--ringColor),
    var(--shadow);
  text-align: left;

  &::placeholder {
    color: var(--vuiii-input-placeholderColor);
  }

  &:focus,
  &:focus-within {
    --ringSize: var(--vuiii-input-ringSize);
    --borderColor: var(--vuiii-input-borderColor--focus);
    --bgColor: var(--vuiii-input-bgColor--focus);
    --shadow: var(--vuiii-input-shadow--focus);

    outline: none;
  }

  &:disabled,
  &.vuiii-input--disabled {
    opacity: var(--vuiii-input-opacity--disabled);
    pointer-events: none;
  }

  &.vuiii-input--small {
    --height: var(--vuiii-input-height--small);
    --fontSize: var(--vuiii-input-fontSize--small);
    --padding: var(--vuiii-input-padding--small);
    --borderRadius: var(--vuiii-input-borderRadius--small);
    --iconSize: var(--vuiii-icon-size--small);

    &:focus,
    &:focus-within {
      --ringSize: var(--vuiii-input-ringSize--small);
    }
  }

  &.vuiii-input--large {
    --height: var(--vuiii-input-height--large);
    --fontSize: var(--vuiii-input-fontSize--large);
    --padding: var(--vuiii-input-padding--large);
    --borderRadius: var(--vuiii-input-borderRadius--large);
    --iconSize: var(--vuiii-icon-size--large);
  }

  /* validity */

  &.vuiii-input--valid {
    --textColor: var(--vuiii-input-textColor--valid);
    --borderColor: var(--vuiii-input-borderColor--valid);
    --ringColor: var(--vuiii-input-ringColor--valid);
  }

  &.vuiii-input--invalid {
    --textColor: var(--vuiii-input-textColor--invalid);
    --borderColor: var(--vuiii-input-borderColor--invalid);
    --ringColor: var(--vuiii-input-ringColor--invalid);
  }

  /* nested <input> inside class .vuiii-input */
  & .vuiii-input__nested {
    color: inherit;
    padding: 0 var(--padding);
    line-height: 1;
    background: transparent;
    border: none;
    border-radius: var(--borderRadius);
    min-height: calc(var(--height) - 2px);
    outline: none;
    cursor: inherit;
    text-align: inherit;
    font-family: inherit;
    font-size: inherit;

    &::placeholder {
      color: var(--vuiii-input-placeholderColor);
    }

    &:focus {
      outline: none;
    }
  }

  /* prefix and suffix icons */

  & .vuiii-input__prefix-icon,
  & .vuiii-input__suffix-icon {
    display: flex;
    width: calc(var(--iconSize) * 2 + var(--padding));
    opacity: 0.5;
    outline: none;
    align-items: center;
    justify-content: center;
    flex: none;
    color: var(--iconColor);
  }

  & .vuiii-input__prefix-icon {
    margin-right: calc(var(--padding) * -1.25);
  }

  & .vuiii-input__suffix-icon {
    margin-left: calc(var(--padding) * -1.25);
  }
}

/* number */

input[type="number"].vuiii-input {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

/* textarea */

textarea.vuiii-input,
.vuiii-input textarea.vuiii-input__nested {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  vertical-align: middle;
  line-height: 1.25;
  resize: vertical;
}

/* checkbox and radio */

input[type="checkbox"].vuiii-input,
input[type="radio"].vuiii-input {
  --height: var(--vuiii-icon-size);
  --width: var(--vuiii-icon-size);
  --padding: 0;

  appearance: none;
  background: transparent;
  cursor: pointer;
  flex: none;

  &:checked {
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--vuiii-color-primary);
    border-color: var(--vuiii-color-primary);
  }

  &:disabled {
    opacity: var(--vuiii-input-opacity--disabled);
    cursor: default;
  }
}

input[type="checkbox"].vuiii-input {
  &:checked {
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M20.405 40.983L38.79 59.368 81.217 16.94l14.142 14.143L38.79 87.652 6.263 55.125l14.142-14.142z"/></svg>');
    background-size: 0.75rem;
  }
}

input[type="radio"].vuiii-input {
  border-radius: 100%;

  &:checked {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 1 1"><circle r=".5" cx=".5" cy=".5" /></svg>');
    background-size: 0.5rem;
  }
}
