.ShortcutIcon {
  display: inline-flex;
  align-items: center;
  gap: var(--vuiii-shortcutIcon-gap);
}

.ShortcutIcon__key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--vuiii-shortcutIcon-fontSize);
  font-weight: var(--vuiii-shortcutIcon-fontWeight);
  font-family: inherit;
  line-height: 1;
  color: var(--vuiii-shortcutIcon-textColor);
  white-space: nowrap;
}
