.vuiii-table {
  min-width: 100%;
  font-size: var(--vuiii-table-fontSize);

  & thead {
    & tr {
      border-bottom: var(--vuiii-table-headSeparatorWidth) solid var(--vuiii-table-headSeparatorColor);
    }

    & th {
      padding: 0.75rem 1.5rem;
      color: var(--labelColor);
      text-align: left;
      font-size: var(--vuiii-table-headFontSize);
      font-weight: var(--vuiii-table-headFontWeight);
      text-transform: var(--vuiii-table-headTextTransform);
    }
  }

  & tbody {
    & > * + * {
      border-top: var(--vuiii-table-rowSeparatorWidth) solid var(--vuiii-table-rowSeparatorColor);
    }

    & td {
      background-color: var(--vuiii-table-rowBgColor);
      padding: 1rem 1.5rem;
    }
  }

  &.vuiii-table--hover tbody tr:hover td {
    background-color: var(--vuiii-table-rowBgColor--hover);
  }
}

.vuiii-table__cell {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--options {
    text-align: right;
    width: 1%;
  }
}

.vuiii-table__emptyMessage {
  text-align: center;
  padding: 1rem;
}
