.vuiii-table {
  min-width: 100%;
  background-color: var(--vuiii-table-bgColor);
  border: 1px solid var(--vuiii-table-borderColor, transparent);
  border-radius: var(--vuiii-table-borderRadius, var(--vuiii-field-borderRadius));
  shadow: var(--vuiii-table-shadow, var(--vuiii-shadow));
  font-size: var(--vuiii-table-fontSize, inherit);

  & thead {
    & tr {
      border-bottom: 1px solid var(--vuiii-color-gray--light);
    }

    & th {
      padding: 0.75rem 1.5rem;
      font-size: 0.8rem;
      font-weight: 600;
      text-align: left;
      letter-spacing: 0.025em;
      color: rgb(64 64 64);
      text-transform: uppercase;
    }
  }

  & tbody {
    & > * + * {
      border-top: 1px solid var(--vuiii-color-gray--light);
    }

    & td {
      padding: 1rem 1.5rem;
    }
  }

  &.vuiii-table--hover tbody tr:hover td {
    background-color: rgb(0 0 0 / 0.025);
  }
}

.vuiii-table__emptyMessage {
  text-align: center;
  padding: 1rem;
}
