.vuiii-link {
  cursor: pointer;
  color: var(--vuiii-color-primary);
  text-decoration: none;

  &:hover {
    color: var(--vuiii-color-primary--darker);
    text-decoration: underline;
  }

  &.vuiii-link--danger {
    color: var(--vuiii-color-danger--darker);

    &:hover {
      color: var(--vuiii-color-danger--darker);
    }
  }
}

.vuiii-muted {
  color: var(--vuiii-color-gray-darker);
}